 @charset "utf-8";

 .hidden{
	display: none;
}

p{
	text-align: center;
	font-weight: normal;	
	color: white;
	margin: 0 auto;
}

h2,h3{
	text-align: center;
	font-weight: normal;
	font-size: 23px;
    padding-top: 15px;	
	color: white;
	margin: 0 auto;
}
         
div,p,body,header,footer,section,article,nav{ 
	margin: 0; 
	padding: 0; 
}	

body {
	font-family: 'Arial', Helvetica, sans-serif;
	font-size: 18px;
	padding: 20px;
}


#container{
	width: 400px;
	margin: 0 auto;
	
}

button{
	background-color: white;
	
}

button:hover{
	opacity: .5;
}


/*burger menu*/

#mainNav
{
	display: flex;
}



#mainHeader{
	display: flex;
	flex-direction: column;
	background-color: #a9b300;
}

#logoHeader{
	margin: 0 auto;
	padding-right: 50px;
	width: 240px;	
	   
}

#titleBar{
	margin: 0 auto;
	padding-right: 10px;
}

#titleBar h2{
  color: white;
  text-shadow: 3px 3px 12px #000000;
  font-family: "Arial", Helvetica, sans-serif;
  font-size: 27px;
  line-height: 30px;  
  text-align: center;
}

.thames {
	letter-spacing: 5px;
	font-family: 'Anton', sans-serif;
}


#banner{
	background: url(../images/banner_small.jpg) no-repeat center;
	height: 230px;
}



	#welcomeText{
	background-color: #5c8301;
	width: 400px;	
	margin: 0 auto;    													                                                                                                                                                                               
	margin-top: 30px;
	margin-right: 5px;
	margin-left: 5px; 	
	text-align: center;
	margin-bottom: 30px;
}

#welcomeText h2{
	padding-top: 30px;
	font-weight: bold;
	font-size: 24px;
}

#welcomeText p{
	padding: 30px;
	line-height: 40px;
}

#galleryTitle{
	flex-basis: 100%;
	background: linear-gradient(to right, #344903 0%, #fff 100%);
	margin-top: 30px;
	margin-bottom: 30px;
	padding-bottom: 15px;
	}

#trout{
	margin-top: 30px;
	display: flex;
	flex-direction: column;
}

#img{    
    margin: 0 auto;
    margin-bottom: 20px;
}

#troutHatchery{
	background-color: #5c8301;
}

#troutHatchery h2{
	background-color: #344903;
	padding-bottom: 10px;
}

#troutHatchery p{
	padding: 10px;
	margin-top: 10px;
	margin-left: 10px;
	margin-right: 10px;
	text-align: left;
	line-height: 30px;
}

#searchForm
{
  margin-top: 20px;
}

#searchCon
{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#mainHeader input[type=text]
{
  flex: 2;
  margin-left: 10px;
  height: 30px;
  border: 1px solid #cacaca;
  border-radius: 3px 0px 0px 3px;
  background-color: #fefefe;
  color: #0a0a0a;
  box-shadow: inset 0 1px 2px rgba(10,10,10,0.1);
}

#mainHeader input[type=submit]
{
  height: 35px;
  flex: 1;
  margin-right: 10px;
  border-radius: 0px 3px 3px 0px;
  text-align: center;
  background-color: #0c94a7;
  color: #fefefe;
  border: 0;
}

#local {
	display: flex;
	flex-direction: column;
    margin-top: 30px;
}

.localTitle{
	background-color: #276e78;
	width: 400px;
	padding-bottom: 20px;
    }

#slides{
	display: flex;
	flex-direction: column;
	height: 500px;	
}

.melchersCon{
	background-color: #5f742e;
    
}

.guillevinCon{
	background-color: #508f8f;
	
}

.mumaCon{
	background-color: #999900;
		
}

.TryCon{
	background-color: #774a33;
	
}

.AnglingSportsCon{
	background-color: #573c8e;
	
}


#local p{
	margin-top: 20px;
	padding: 10px;
	text-align: left;
	line-height: 26px;
}



.image {
	text-align: center;
	padding-top: 10px; 
}

#announcements {
	display: flex;
	flex-direction: column;
	flex-basis: 100%;
	justify-content: flex-start;
	margin-top: 1330px;
}

#membership{
	
	background-color: #0076a3;
}

#announcements h2{
	line-height: 100px;
	background-color: #7e3b2e;
}

#announcements p{
	line-height: 30px;
	margin-top: 50px;
}

#membership p{
	line-height: 40px;
}

#fund{
	background-color: #0076a3;
	
}

span{
	font-size: 50px;
}


button{	
	margin-top: 7px;
	line-height: 30px;
	background-color: white;
	color: black;
	border: none;
}



/* about page */

#about {

	flex-basis: 100%;
	background-color: #5c8301;
	margin-top: 30px;
    justify-content: flex-start;
}

#about p{
	line-height: 35px;
     text-align: left;
     margin-left: 10px;
     margin-right: 10px;
     
}

#about h2{
     color: white;
     background-color: #344903;
     text-align: center;
     margin-top: 30px;
     font-size: 23px;
	padding-bottom: 15px;
}

/*about page*/

#about {

	flex-basis: 100%;
	background-color: #5c8301;
	margin-top: 30px;
	justify-content: flex-start;
}

#about p{
	line-height: 35px;
     text-align: left;
     margin-left: 10px;
     margin-right: 10px;
     
}

#about h2{
     color: white;
     background-color: #344903;
     text-align: center;
     margin-top: 30px;
     font-size: 23px;
	padding-bottom: 15px;
}


#photos{
	display: flex;
	flex-direction: column;
	align-content: center;
	text-align: center;
	margin-top: 30px;
}

.promoImg{
	margin-bottom: 10px;
}

#moreAbout {
	flex-basis: 100%;
	justify-content: flex-start;
	background-color: #5c8301;
    margin: 0 auto;
	margin-top: 28px;
}

#moreAbout p{
	text-align: left;
	line-height: 30px;
	padding-right: 20px;
	padding-left: 20px;
	padding-bottom: 20px;
}


#moreAbout h2{
	background-color: #344903;
	padding-bottom: 15px;
}

#executives {
	flex-basis: 100%;
	justify-content: flex-start;
	display: flex;
	flex-direction: column;
	background-color: #5c8301;
	margin-top: 30px;
}

#execTitle{
    flex: 1;
	background-color: #344903;
  
}

#execTitle h2{
	padding-bottom: 10px;
	text-align: left;
	padding-left: 10px;
}



#volunteer {
	display: flex;
	flex-direction: column;
	flex-basis: 100%;
	justify-content: flex-start;
	background-color: #5c8301;
	margin-top: 30px;
}

.credentials{
display: flex;
flex-direction: column;
flex: 2;
margin: 20px;
padding-left: 80px;
}

.credentials p{
text-align: left;
}

#volunTitle{
	flex: 1;
	background-color: #344903;
  
}

#volunTitle h2{
    padding-bottom: 10px;
	text-align: left;
	padding-left: 10px;
}

/*links*/

#links{
	flex-basis: 100%;
	justify-content: flex-start;
	margin: 0 auto;
	background-color: #5c8301;
	margin-top: 30px;
}

#links p{
	line-height: 30px;
}

#links h2{
	background-color: #344903;
	padding-bottom: 15px;
}

.heaading{
    font-weight: bold;
    font-size: 22px;
}


#links p{
	text-align: left;
	padding: 20px;	
}

.links{
	color: pink;
}

/*news*/

#news{
	flex-basis: 100%;
	justify-content: flex-start;
	margin: 0 auto;
	background-color: #5c8301;
	margin-top: 30px;
}

#news p{
	line-height: 22px;
	text-align: left;
	padding: 20px;
}

#news h2{
	background: linear-gradient(to right, #a9b300 0%, #fff 100%); 
	padding-bottom: 10px; 
	margin-bottom: -17px;
}

#news h3{	
	padding-bottom: 10px; 
	background-color: #344903;
	text-align: left;
	padding: 15px;
}

#contactBox{
	display: flex;
	flex-direction: column;
	width: 400px;
	margin-top: 25px;	
	justify-content: flex-start;
	margin-bottom: 30px;
}

#contactBox h2{
	background-color: #344903;
	width: 400px;
	padding-bottom: 10px;	
}

#contactForm{
	display: flex;
	flex-direction: column;
	width: 400px;
	background-color: #5c8301;
	padding-top: 30px;
}

.text{
	display: flex;
	flex-direction: column;
	padding: 10px;
}

label{
	color: white;
	font-size: 20px;
	text-align: left;
}

input,textarea{
	flex-basis: 100%;
	margin-bottom: 20px;
}

input{
	line-height: 30px;	
}


#traaMeet{
	flex-basis: 100%;
	background-color: #5c8301;
	margin: 0 auto;
}

#traaMeet h2, h3{
	text-align: left;
	padding-left: 50px;	
	background-color: #344903;
}

#traaMeet h3{
	padding-bottom: 20px;
}

#traaMeet p{
	line-height: 35px;
	padding: 20px;
	text-align: left;
}

#submit
{
	background-color: blue;
	border: 1px solid #330500;
	width: 90px;
	height: 40px;
	font-size: 14px;
	display: block;
	text-align: center;
	margin-left: 780px;
	margin-top: 5px;
	color: #FFF;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
}


/*projects page*/

#ourProjTile{
	flex-basis: 100%;
	background: linear-gradient(to right, #344903 0%, #fff 100%);
	margin-top: 30px;
	padding-bottom: 15px;
	}

#projects{
	flex-basis: 100%;
	background-color: #5c8301;
	justify-content: flex-start;
	margin: 0 auto;
	margin-top: 10px;
	margin-bottom: 30px;
}

#currentProjects{
	flex-basis: 100%;
	background-color: #5c8301;
}

#currentProjects h3{
   text-align: left;
   background-color: #a39a0d;
   padding-bottom: 10px;
}

#oldProjects h3{
   text-align: left;
   background-color: #a39a0d;
   margin-bottom: 10px;
   padding-bottom: 10px;

}

#oldProjects{
	flex-basis: 100%;
	background-color: #5c8301;
}


#rows{
	flex-basis: 100%;	
	justify-content: flex-start;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
}

#currentProjects button{
	text-decoration: none;
	color: white;

}

#rows h2{
background-color: #344903;
padding-bottom: 15px;
}

#rows p{
	text-align: left;
	 padding: 10px;
	line-height: 25px;
}



#projects p{
      padding: 20px;
      text-align: left;
      line-height: 26px;
}

.hands{
	font-weight: bold;
	font-style: italic;
}


.gallery{
	display: none;
}


#merchImages{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin-top: 20px;
}

#merchImages img{
	margin-bottom: 10px;
}

#small{
	display: block;
}

#largeOne{
	display: none;
}


/*Footer*/

#footer {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 20px;
	margin-top: 50px;
	background-color: #252525;
}



@media screen and (min-width: 1200px){

	#container {
	width: 1400px;
	margin: 0 auto;
	
}

#button{
	display: none;
}

#mainHeader{
	display: flex;
	flex-direction: row;
	overflow: hidden;
	background-color: #a9b300;
}

#logoHeader{
	margin-top: 20px;
	width: 240px;	   
}

#titleBar{
	margin: 0 auto;
	margin-top: 140px;	
}


#titleBar h2{
  color: white;
  text-shadow: 3px 3px 12px #000000;
  font-family: "Arial", Helvetica, sans-serif;
  font-size: 40px;
  line-height: 50px;  
  text-align: left;
  position: relative;
	animation-name: rise;
    animation-duration: 4s;
}

@keyframes rise {
  0%   {color:white; opacity: 0; left:0px; top:-100px;}
  25%  {color:white; opacity: 0.3; left:0px; top:-100px;}
  50%  {color:white; opacity: 0.5; left:0px; top:-100px;}
  75%  {color:white; opacity: 0.8; left:0px; top:-100px;}
  100% {color:white; opacity: 1; left:0px; top:0px;}
}

.thames {
	letter-spacing: 15px;
	font-family: 'Kaushan Script', cursive;
}


#searchForm
{
  margin-top: 200px;
}

#searchCon
{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#mainHeader input[type=text]
{
  display: block;
  width: 150px;
  height: 30px;
  border: 1px solid #cacaca;
  border-radius: 3px 0px 0px 3px;
  background-color: #fefefe;
  color: #0a0a0a;
  box-shadow: inset 0 1px 2px rgba(10,10,10,0.1);
}

#mainHeader input[type=submit]
{
  height: 35px;
  width: 100px;
  border-radius: 0px 3px 3px 0px;
  text-align: center;
  background-color: #0c94a7;
  color: #fefefe;
  border: 0;
}

#Head{
	
}

#mainNav{
	width: 1400px;	
	display: flex;
	justify-content: space-evenly;
	background-color: #5c8301;	
	display: flex;
    margin-right: 20px;
    height: 40px;
    padding-top: 20px;
}

#mainNav ul {
	list-style-type: none;
	padding: 0;
	margin-left: 130px;
}

#mainNav ul li{
	display: inline; 
	margin-right: 130px;
}

#mainNav ul li a{
	font-size: 23px;
	color: #fff;
	text-decoration: none;
}

#mainNav ul li a:hover {
	background-color: #d5e9f2;
}

.smallBanImg{
	display: none;
}


#banner{
	background: url(../images/banner.jpg) no-repeat center;
	
}


#welcomeText{
	background-color: #5c8301;
	width: 1183px;
	height: 265px;	
	margin: 0 auto;    													                                                                                                                                                                               
	margin-top: 30px;
	margin-right: 108.5px;
	margin-left: 108.5px; 	
	text-align: center;
	margin-bottom: 30px;
}

#welcomeText h2{
	padding-top: 30px;
	font-weight: bold;
	font-size: 24px;
	position: relative;
	animation-name: animate;
    animation-duration: 4s;
}

@keyframes animate {
  0%   {color:white; opacity: 0; left: -200px; top: 0px;}
  25%  {color:white; opacity: 0.3; left: -200px; top:0px;}
  50%  {color:white; opacity: 0.5; left: 0px; top: 0px;}
  75%  {color:white; opacity: 0.8; left: 0px; top: 0px;}
  100% {color:white; opacity: 1; left:  0px; top: 0px;}
}

#welcomeText p{
	padding-top: 30px;
	line-height: 40px;
	position: relative;
	animation-name: move;
    animation-duration: 4s;
}

@keyframes move {
  0%   {color:white; opacity: 0; left: 0px; top: 100px;}
  25%  {color:white; opacity: 0; left: 0px; top:100px;}
  50%  {color:white; opacity: 0; left: 0px; top: 100px;}
  75%  {color:white; opacity: 0; left: 0px; top: 100px;}
  100% {color:white; opacity: 1; left:  0px; top: 0px;}
}

b{
	font-size: 22px;
}

#trout{
	margin-top: 30px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

#img{    
    margin-left: 20px;
}

#troutHatchery{
	background-color: #5c8301;
	width: 1050px;
	height: 291px;	
	margin-right: 34px;
}

#troutHatchery h2{
	background-color: #344903;
}

#troutHatchery p{
	margin-top: 10px;
	margin-left: 10px;
	margin-right: 10px;
	text-align: left;
	line-height: 30px;
}

#local {
	display: flex;
	flex-direction: column;
	flex-basis: 100%;
    margin-top: 30px;
	margin-right: 35px;
}

.localTitle{
	width: 1400px;
	background-color: #276e78

}

#slides{
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	flex-basis: 100%;	
}

.melchersCon{
	background-color: #5f742e;
	flex: 1;

}

.guillevinCon{
	background-color: #508f8f;
	flex: 1;
	justify-content: flex-start;	
}

.mumaCon{
	background-color: #999900;
	flex: 1;	
}

.TryCon{
	background-color: #774a33;
	flex: 1;
}

.AnglingSportsCon{
	background-color: #573c8e;
	flex: 1;
}


#local p{
	margin-top: 20px;
	padding: 10px;
	text-align: left;
	line-height: 26px;
}


.image {
	text-align: center;
}


#announcements {
	display: flex;
	flex-direction: row;
	margin-right: 122px;
	margin-left: 122px;
	margin-top: 30px;
	height: 296px;
}

#membership{
	width: 537px;
	margin-right: 80px;
	background-color: #0076a3;
}

#announcements h2{
	line-height: 100px;
	background-color: #7e3b2e;
}

#announcements p{
	line-height: 30px;
	margin-top: 50px;
}

#membership p{
	line-height: 40px;
}

#fund{
	width: 537px;
	background-color: #0076a3;
}

span{
	font-size: 50px;
}


button{	
	margin-top: 7px;
	line-height: 30px;
	background-color: blue;
	color: white;
	border: none;
}

#footer{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-evenly;
	margin-top: 50px;
	background-color: #252525;
}

/*about page*/

#about {

	flex-basis: 100%;
	background-color: #5c8301;
	margin-top: 30px;
    height: 293px;
}

#about p{
	line-height: 35px;
     text-align: left;
     margin-left: 10px;
     margin-right: 10px;
     
}

#about h2{
     color: white;
     background-color: #344903;
     text-align: center;
     margin-top: 30px;
     font-size: 23px;
	padding-bottom: 15px;
}


#photos{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-content: center;
	margin-top: 30px;
	margin-right: 200px;
	margin-left: 113px;
}

#moreAbout {
	flex-basis: 100%;
	justify-content: flex-start;
	background-color: #5c8301;
    margin: 0 auto;
	margin-top: 28px;
}

#moreAbout p{
	text-align: left;
	line-height: 30px;
	padding-right: 20px;
	padding-left: 20px;
	padding-bottom: 20px;
}


#moreAbout h2{
	background-color: #344903;
	padding-bottom: 15px;
}

#executives {
	flex-basis: 100%;
	height: 293px;
	display: flex;
	flex-direction: row;
	background-color: #5c8301;
	margin-top: 30px;
}

#execTitle{
    flex: 1;
	background-color: #344903;
  
}

#execTitle h2{
    margin-top: 100px;
    margin-left: 05px;
    text-align: center;

}

#executives p{
	text-align: left;
}

#volunteer {
	display: flex;
	flex-direction: row;
	flex-basis: 100%;
	height: 293px;
	background-color: #5c8301;
	margin-top: 30px;
}

.credentials{
display: flex;
flex-direction: column;
flex: 2;
margin: 50px;
padding-left: 80px;
}

.credentials p{
margin-right: 80px;
text-align: left;
}

#volunTitle{
	flex: 1;
	background-color: #344903;
  
}

#volunTitle h2{
    margin-top: 100px;
    margin-left: 05px;
    text-align: center;

}


span{
	font-weight: bold;
	
}

/*projects page*/


#ourProjTile{
	flex-basis: 100%;
	background: linear-gradient(to right, #344903 0%, #fff 100%);
	margin-top: 30px;
	padding-bottom: 15px;
	}

#projects{
	flex-basis: 100%;
	background-color: #5c8301;
	justify-content: flex-start;
	margin: 0 auto;
	margin-top: 10px;
	margin-bottom: 30px;
}

#currentProjects{
	flex-basis: 48%;
	background-color: #5c8301;
}

#currentProjects h3{
   text-align: left;
   background-color: #a39a0d;
   padding-bottom: 10px;
}

#oldProjects h3{
   text-align: left;
   background-color: #a39a0d;
   margin-bottom: 10px;
   padding-bottom: 10px;

}

#oldProjects{
	flex-basis: 48%;
	background-color: #5c8301;
}


#rows{
	flex-basis: 100%;	
	justify-content: flex-start;
	margin: 0 auto;
	display: flex;
	flex-direction: row;	
	justify-content: space-between;
}

#rows h2{
background-color: #344903;
padding-bottom: 15px;
}

#small{
	display: none;
}

#largeOne{
	display: block;
}

#rows p{
	text-align: left;
	 padding: 10px;
	line-height: 25px;
}

#rows button{
	text-align: right;
}

#projects p{
      padding: 20px;
      text-align: left;
      line-height: 26px;
}

.hands{
	font-weight: bold;
	font-style: italic;
}

/*gallery*/

#galleryTitle{
	flex-basis: 100%;
	background: linear-gradient(to right, #344903 0%, #fff 100%);
	margin-top: 30px;
	margin-bottom: 30px;
	padding-bottom: 15px;
	}

.gallerymain{
	margin: 10px 80px; 
	text-align: center;
}

.gallerymain img{
	padding: 5px;
	filter: grayscale(100%);
	transition: 1s;
}

.gallerymain img:hover{
	filter: grayscale(0);
	transform: scale(1.1);
}


.gallery{
	display: block;
	margin: 10px 50px;
	text-align: center;

}

.gallery img{
	width: 230px;
	padding: 5px;
	filter: grayscale(100%);
	transition: 1s;
}

.gallery img:hover{
	filter: grayscale(0);
	transform: scale(1.1);
}

/*end of gallery*/


#contactBox{
	display: flex;
	justify-content: space-between;
	width: 1020px;
	margin: 0 auto;
	margin-top: 25px;	
	margin-bottom: 30px;
}

#contactBox h2{
	background-color: #344903;
	width: 1020px;
	padding-bottom: 10px;	
}

#contactForm{

	
	width: 1020px;	
	background-color: #5c8301;
	padding-top: 30px;
}

.text{
	
	margin-right: 150px;
	margin-left: 150px;
}

label{
	color: white;
	font-size: 20px;
	text-align: left;
}

input,textarea{
	width: 500px;
	margin-bottom: 20px;
}

input{
	line-height: 30px;	
}

#traaMeet{
	flex-basis: 100%;
	background-color: #5c8301;
	margin: 0 auto;
}

#traaMeet h2, h3{
	text-align: left;
	padding-left: 50px;	
	background-color: #344903;
}

#traaMeet h3{
	padding-bottom: 20px;
}

#traaMeet p{
	line-height: 35px;
	padding: 20px;
	text-align: left;
}

#submit
{
	background-color: blue;
	border: 1px solid #330500;
	width: 90px;
	height: 40px;
	font-size: 14px;
	display: block;
	text-align: center;
	margin-left: 780px;
	margin-top: 5px;
	color: #FFF;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
}

#news{
	flex-basis: 100%;
	justify-content: flex-start;
	margin: 0 auto;
	background-color: #5c8301;
	margin-top: 30px;
}


#merchImages{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-top: 20px;
}



/*links*/

#links{
	flex-basis: 100%;
	justify-content: flex-start;
	margin: 0 auto;
	background-color: #5c8301;
	margin-top: 30px;
}

#links p{
	line-height: 30px;
}

#links h2{
	background-color: #344903;
	padding-bottom: 15px;
}

.heaading{
    font-weight: bold;
    font-size: 22px;
}


#links p{
	text-align: left;
	padding: 20px;	
}

.links{
	color: pink;
}

#news p{
	line-height: 22px;
	text-align: left;
	padding: 20px;
}

#news h2{
	background: linear-gradient(to right, #a9b300 0%, #fff 100%); 
	padding-bottom: 10px; 
	margin-bottom: -17px;
}

#news h3{	
	padding-bottom: 10px; 
}

.lb-loader,.lightbox{text-align:center;line-height:0}.lb-dataContainer:after,.lb-outerContainer:after{content:"";clear:both}html.lb-disable-scrolling{overflow:hidden;position:fixed;height:100vh;width:100vw}.lightboxOverlay{position:absolute;top:0;left:0;z-index:9999;background-color:#000;filter:alpha(Opacity=80);opacity:.8;display:none}.lightbox{position:absolute;left:0;width:100%;z-index:10000;font-weight:400}.lightbox .lb-image{display:block;height:auto;max-width:inherit;max-height:none;border-radius:3px;border:4px solid #fff}.lightbox a img{border:none}.lb-outerContainer{position:relative;width:250px;height:250px;margin:0 auto;border-radius:4px;background-color:#fff}.lb-loader,.lb-nav{position:absolute;left:0}.lb-outerContainer:after{display:table}.lb-loader{top:43%;height:25%;width:100%}.lb-cancel{display:block;width:32px;height:32px;margin:0 auto;background:url(../images/loading.gif) no-repeat}.lb-nav{top:0;height:100%;width:100%;z-index:10}.lb-container>.nav{left:0}.lb-nav a{outline:0;background-image:url(data:image/gif;base64,R0lGODlhAQABAPAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==)}.lb-next,.lb-prev{height:100%;cursor:pointer;display:block}.lb-nav a.lb-prev{width:34%;left:0;float:left;background:url(../images/prev.png) left 48% no-repeat;filter:alpha(Opacity=0);opacity:0;-webkit-transition:opacity .6s;-moz-transition:opacity .6s;-o-transition:opacity .6s;transition:opacity .6s}.lb-nav a.lb-prev:hover{filter:alpha(Opacity=100);opacity:1}.lb-nav a.lb-next{width:64%;right:0;float:right;background:url(../images/next.png) right 48% no-repeat;filter:alpha(Opacity=0);opacity:0;-webkit-transition:opacity .6s;-moz-transition:opacity .6s;-o-transition:opacity .6s;transition:opacity .6s}.lb-nav a.lb-next:hover{filter:alpha(Opacity=100);opacity:1}.lb-dataContainer{margin:0 auto;padding-top:5px;width:100%;border-bottom-left-radius:4px;border-bottom-right-radius:4px}.lb-dataContainer:after{display:table}.lb-data{padding:0 4px;color:#ccc}.lb-data .lb-details{width:85%;float:left;text-align:left;line-height:1.1em}.lb-data .lb-caption{font-size:13px;font-weight:700;line-height:1em}.lb-data .lb-caption a{color:#4ae}.lb-data .lb-number{display:block;clear:left;padding-bottom:1em;font-size:12px;color:#999}.lb-data .lb-close{display:block;float:right;width:30px;height:30px;background:url(../images/close.png) top right no-repeat;text-align:right;outline:0;filter:alpha(Opacity=70);opacity:.7;-webkit-transition:opacity .2s;-moz-transition:opacity .2s;-o-transition:opacity .2s;transition:opacity .2s}.lb-data .lb-close:hover{cursor:pointer;filter:alpha(Opacity=100);opacity:1}


}








